 .expense-item{
    display:flex;
    justify-content: space-between;
    align-items:center;
    
    padding: 0.5rem;
    margin:1rem 0;
    background-color:rgb(91, 54, 87);
 }
 .expense-item_description{
    display:flex;
    flex-direction:column;
    gap:21rem;
    align-items:flex-end;
    flex-flow:column-reverse;
    justify-content:flex-start ;
    flex:1;
    margin-left:5px;
   
 }
 .expense-item_price{
    font-size:1rem;
    font-weight:bold;
    color:white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius:12px;
 }
 @media(min-width:580px){
    .expense-item_description{
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        flex:2;
        margin-right:0px;
    }
    .expense-item_description h2{
        font-size:1.25rem;
        margin-left:5px;
    }
    .expense-item_price{
        font-size:1.25rem;
        padding:0.5rem 1.5rem;
    }
 }